.header__arxiv {
  padding: 20px;
  border-bottom: 1px solid #4473c5;
}
.label-box {
  display: flex;
  flex-direction: column;
}

.input-data {
  margin-bottom: 20px;
  border: 1px solid #4473c5;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 3px;
}
