.LoginBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #858585;
  height: 100vmin;
}
.formSubmitLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.boxForm {
  width: 100%;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
}
.btnLogin {
  border: none;
  width: 140px;
  margin-top: 29px;
  padding: 7px 20px;
  font-size: 600;
  border-radius: 5px;
}
