
.table-statistika{
    margin-top: 80px;
    width: 100%;
    max-width: 900px;
    border-radius: 15px;
    margin-right: auto;
margin-left: auto;
}
th, td:hover {
    background-color: #f2f2f2;

}
.trStat{
    border:1px solid black;
    text-align: center;
    padding: 8px;
}